
*.dll
TodoApi/bin/Debug/netcoreapp2.1/TodoApi.dll
TodoApi/bin/Debug/netcoreapp2.1/TodoApi.dll
TodoApi/bin/Debug/netcoreapp2.1/TodoApi.pdb
TodoApi/obj/Debug/netcoreapp2.1/TodoApi.assets.cache
TodoApi/obj/Debug/netcoreapp2.1/TodoApi.dll
TodoApi/obj/Debug/netcoreapp2.1/TodoApi.pdb
TodoApi/obj/TodoApi.csproj.nuget.cache
TodoApi/obj/TodoApi.csproj.nuget.g.props
TodoApi/bin/Debug/netcoreapp2.1/TodoApi.dll
TodoApi/bin/Debug/netcoreapp2.1/TodoApi.pdb
TodoApi/bin/Debug/netcoreapp2.1/TodoApi.dll
TodoApi/bin/Debug/netcoreapp2.1/TodoApi.pdb
TodoApi/obj/Debug/netcoreapp2.1/TodoApi.assets.cache
TodoApi/obj/Debug/netcoreapp2.1/TodoApi.dll
TodoApi/obj/Debug/netcoreapp2.1/TodoApi.pdb
*.cache
TodoApi/obj/TodoApi.csproj.nuget.g.props
