<log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="AppLogger"/>
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="AppLogger" type="log4net.Appender.RollingFileAppender">
      <file value="D:\\ApplicationTest\\Logs\\NYRAapi\\NYRAapi.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100k" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy/MM/dd HH:mm:ss.fff} %property{activityid} [%t] %-5p %c - %m%n"  />
      </layout>
      <layout type="log4net.Layout.DynamicPatternLayout"> 
  <param name="Header" value="%newline**** Trace Opened Local: %date{yyyy-MM-dd HH:mm:ss.fff} UTC: %utcdate{yyyy-MM-dd HH:mm:ss.fff} ****%newline"/> 
  <param name="Footer" value="**** Trace Closed %date{yyyy-MM-dd HH:mm:ss.fff} ****%newline"/> 
</layout>
    </appender>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
            <layout type="log4net.Layout.PatternLayout">
                <!--conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" /-->
                <conversionPattern value="[%t] %-5p %c - %m%n"  />
            </layout>
        </appender>    
</log4net>